<h1>Blog Posts</h1>
<p>Welcome to test app blog detail page</p>
<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.description}}</p>
            </div>
        </div>
    </div>
</div>